<MudDialog>
	<DialogContent>
		<div style="display: flex; justify-content: center; align-items: center; flex-direction: column; min-height: 100%;">
			<LoadingLinear IsVisible="_isLoading" />
			<ErrorViewer Error="_error" />
			<EditForm Model="Request" OnInvalidSubmit="OnInvalidSubmit" OnValidSubmit="OnValidSubmit">
				<FluentValidationValidator />
				<MudFocusTrap>
					<MudGrid JustifyCenter>
						<MudItem xs="12">
							<MudTextField Label="@DisplayTextFor.Nama" Variant="Variant.Outlined"
										  Required="true"
										  @bind-Value="Request.Nama" />
						</MudItem>
						<MudItem xs="12">
							<MudTextField Label="@DisplayTextFor.Nip" Variant="Variant.Outlined"
										  Required="true"
										  @bind-Value="Request.Nip" />
						</MudItem>
						<MudItem xs="12">
							<MudTextField Label="@DisplayTextFor.Jabatan" Variant="Variant.Outlined"
										  Required="true"
										  @bind-Value="Request.Jabatan" />
						</MudItem>
						<MudItem xs="12">
							<MudTextField Label="@DisplayTextFor.Email" Variant="Variant.Outlined"
										  Required="true"
										  @bind-Value="Request.Email" />
						</MudItem>
					</MudGrid>
					<BottomButtonPanel>
						<MudButton Variant="Variant.Filled" Color="Color.Default" OnClick="Cancel">@CommonDisplayTextFor.Cancel</MudButton>
						<MudButton Variant="Variant.Filled" Color="Color.Primary" ButtonType="ButtonType.Submit">@CommonDisplayTextFor.Add</MudButton>
					</BottomButtonPanel>
				</MudFocusTrap>
			</EditForm>
		</div>
	</DialogContent>
</MudDialog>
