@page "/Laporans"
@using Pertamina.SIMIT.Shared.Laporans.Queries.GetLaporans

<BrowserTabTitle>@DisplayTextFor.DokumenMahasiswa</BrowserTabTitle>
<MudBreadcrumbs Items="_breadcrumbItems" Separator=">"></MudBreadcrumbs>
<PageHeader Title="@DisplayTextFor.TambahLaporanDanProyekMagang"/>
<ErrorViewer Error="_error" />

<!-- Form Section -->
<div style="display: flex; justify-content: center; align-items: center;">
	<MudItem xl="12" sm="8" md="6">
		<MudCard Outlined="true" Class="pa-4">
			<MudCardContent>
				<EditForm Model="_model" OnValidSubmit="OnValidSubmit" OnInvalidSubmit="OnInvalidSubmit">

					<!-- Input Fields -->
					<MudGrid JustifyCenter Spacing="2">
						<MudItem xs="12">
														<MudText Style="text-align: left">No.Badge Mahasiswa</MudText>
							<MudTextField @bind-Value="_model.MahasiswaNim" Variant="Variant.Outlined"
										  Required="true"
										  Adornment="Adornment.Start"
										  AdornmentIcon="@Icons.Material.Filled.Person" />
						</MudItem>
						<MudItem xs="12">
						<MudText Style="text-align: left">Deskripsi</MudText>
				<MudTextField @bind-Value="_model.Deskripsi"
				  @ref="multilineReference" 
				  T="string" 
				  Variant="Variant.Outlined" 
				  Lines="3"
				  Required="true"
				  HelperText="Contoh: Aplikasi Sistem Informasi Magang"
				  
				  Style="text-align: left; display: flex; align-items: center;" />
</MudItem>

						<!-- Tombol Upload File -->
						<MudItem xs="12">
							<MudButton Variant="Variant.Outlined"
									   Size="Size.Medium"
									   Color="Color.Primary"
									   StartIcon="@Icons.Material.Filled.CloudUpload"
									   HtmlTag="label"
									   for="inputFile"
									   Style="width: 100%; height: auto; padding: 12px;">
								Pilih File (.zip)
							</MudButton>
							<InputFile id="inputFile"
									   OnChange="OnAttachmentFileSelected"
									   hidden
									   accept="@ContentTypesFor.LaporanFile.AllowedFileExtensions" />
						</MudItem>

						<!-- Pesan Error -->
						@if (_model.File == null)
						{
							<MudItem xs="12" Class="d-flex justify-center align-center">
								<MudText Typo="Typo.caption" Color="Color.Error">
									File belum dipilih.
								</MudText>
							</MudItem>
						}

						<!-- Tombol Submit -->
						<MudItem xs="12" Class="right-buttons">
							<MudButton Variant="Variant.Filled"
									   Color="Color.Primary"
									   ButtonType="ButtonType.Submit"
									   StartIcon="@Icons.Material.Outlined.Save">
								@DisplayTextFor.Simpan
							</MudButton>
						</MudItem>
					</MudGrid>
				</EditForm>
			</MudCardContent>
		</MudCard>
	</MudItem>
</div>

@code
{
	private MudTextField<string> multilineReference;
}
