@page "/Pembimbings/Details/{PembimbingId:guid}"


<BrowserTabTitle>@DisplayTextFor.Pembimbing</BrowserTabTitle>
<MudBreadcrumbs Items="_breadcrumbItems" Separator=">"></MudBreadcrumbs>
<PageHeader Title="@DisplayTextFor.DetailDataPembimbing" />
<Loading IsVisible="_isLoading" />
<ErrorViewer Error="_error" />

<MudToolBar>
	<MudSpacer />
	<MudButton Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Edit" OnClick="ShowDialogEdit" Class="mr-5">
		@CommonDisplayTextFor.Edit
	</MudButton>
	<MudButton Variant="Variant.Filled" Color="Color.Error" StartIcon="@Icons.Material.Filled.Delete" OnClick="ShowDialogDelete">
		@CommonDisplayTextFor.Delete
	</MudButton>
</MudToolBar>

@if (_pembimbing is not null)
{
	<MudCard Outlined="true" Class="pa-4">
		<MudCardContent>
			<!-- Bagian Tabel Vertikal -->
			<table class="mud-table" style="width: 100%; border-collapse: collapse; margin-top: 20px; border: 1px solid #ddd;">
				<tbody>
					<tr style="border-bottom: 1px solid #ddd;">
						<td style="padding: 10px; font-weight: bold; text-align: left; border: 1px solid #ddd; width: 30%;">@DisplayTextFor.Nama</td>
						<td style="padding: 10px; border: 1px solid #ddd; width: 70%;">@_pembimbing.Nama</td>
					</tr>
					<tr style="border-bottom: 1px solid #ddd;">
						<td style="padding: 10px; font-weight: bold; text-align: left; border: 1px solid #ddd; width: 30%;">@DisplayTextFor.Nip</td>
						<td style="padding: 10px; border: 1px solid #ddd; width: 70%;">@_pembimbing.Nip</td>
					</tr>
					<tr style="border-bottom: 1px solid #ddd;">
						<td style="padding: 10px; font-weight: bold; text-align: left; border: 1px solid #ddd; width: 30%;">@DisplayTextFor.Jabatan</td>
						<td style="padding: 10px; border: 1px solid #ddd; width: 70%;">@_pembimbing.Jabatan</td>
					</tr>
					<tr style="border-bottom: 1px solid #ddd;">
						<td style="padding: 10px; font-weight: bold; text-align: left; border: 1px solid #ddd; width: 30%;">@CommonDisplayTextFor.Created</td>
						<td style="padding: 10px; border: 1px solid #ddd; width: 70%;">
							@_pembimbing.Created.ToLongDateTimeDisplayText()
						</td>
					</tr>
				</tbody>
			</table>
		</MudCardContent>
	</MudCard>
}
