@page "/Mahasiswas/Details/{mahasiswaId:guid}"

<BrowserTabTitle>@DisplayTextFor.Mahasiswa</BrowserTabTitle>
<MudBreadcrumbs Items="_breadcrumbItems" Separator=">"></MudBreadcrumbs>
<PageHeader Title="@DisplayTextFor.DetailDataMahasiwa" />
<Loading IsVisible="_isLoading" />
<ErrorViewer Error="_error" />
@* <PageHeader Title ="@(_mahasiswa?.Nama ?? "Loading...")"  /> *@
                <TopButtonPanel>
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Edit" OnClick="ShowDialogEdit">
                        @CommonDisplayTextFor.Edit
                    </MudButton>
					<MudButton Variant="Variant.Filled" Color="Color.Error" StartIcon="@Icons.Material.Filled.Delete" OnClick="ShowDialogDelete">
						@CommonDisplayTextFor.Delete
					</MudButton>
                </TopButtonPanel>

		@if (_mahasiswa != null)
		{
			<MudCard Outlined="true" Class="pa-4">
			<MudCardContent>
			<MudGrid>
				<MudGrid Justify="Justify.Center" AlignItems="Center" Style="height: auto;">
					<MudItem>
						<MudCard Style="width: 300px; height: 400px;">
							<MudCardMedia Image="@_imageData" Alt="Logbook Image" Style="width: 100%; height: 100%; object-fit: cover;" />
						</MudCard>
					</MudItem>
				</MudGrid>

                <MudItem xs="12">
                    <MudField Label="@DisplayTextFor.Nama">@_mahasiswa.Nama</MudField>
                </MudItem>

                <MudItem xs="12">
                     <MudField Label="@DisplayTextFor.Nim">@_mahasiswa.Nim</MudField>
                </MudItem>

				<MudItem xs="12">
                     <MudField Label="@DisplayTextFor.Kampus">@_mahasiswa.Kampus</MudField>
                </MudItem>

				<MudItem xs="12">
                     <MudField Label="@DisplayTextFor.MulaiMagang">@_mahasiswa.MulaiMagang</MudField>
                </MudItem>

				<MudItem xs="12">
                     <MudField Label="@DisplayTextFor.SelesaiMagang">@_mahasiswa.SelesaiMagang</MudField>
                </MudItem>

				<MudItem xs="12">
                     <MudField Label="@DisplayTextFor.Bagian">@_mahasiswa.Bagian</MudField>
                </MudItem>

				<MudItem xs="12">
                     <MudField Label="@DisplayTextFor.Pembimbing">@_mahasiswa.PembimbingNama</MudField>
                </MudItem>

				<MudItem xs="12">
				<MudTooltip Placement="Placement.Top" Text="@($"{CommonDisplayTextFor.Download}")">
						<MudButton Color="Color.Info" Variant="Variant.Outlined" StartIcon="@Icons.Material.Outlined.FileDownload" OnClick="Download">
						Dokumen
					</MudButton>
				</MudTooltip>
				</MudItem>

				<MudItem xs="12">
					<MudField Label="@DisplayTextFor.DeskripsiDokumen">@_mahasiswa.LaporanDeskripsi</MudField>
				</MudItem>
            </MudGrid>
			</MudCardContent>
			</MudCard>
		}
		else
		{
			<p>Loading data...</p>
		}
